{% extends "employee_information/base.html" %}
{% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">All Generated CDR Logs</h4>
            <div class="text-start">
                <button class="mdc-button mdc-button--raised mdc-ripple-upgraded btn-sm" id="create_new" style="background-color: red; color: white;">
                    <i class="material-icons mdc-button__icon">add</i><span> Add New</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="5%">
                    <col width="30%">
                    <col width="30%">
                    <col width="15%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">#</th>
                        <th class="text-center py-1">CDR Code</th>
                        <th class="text-center py-1">Cust Name</th>
                        <th class="text-center py-1">Call Duration</th>
                        <th class="text-center py-1">MSISDN</th>
                        <th class="text-center py-1">Call Date</th>
                        <th class="text-center py-1">Status</th>
                        <th class="text-center py-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cdr in cdrlog %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{ cdr.pk }}</td>
                        <td class="px-2 py-1 text-start">{{ cdr.code }}</td>
                        <td class="px-2 py-1 text-start">{{ cdr.customer_id }}</td>
                        <td class="px-2 py-1 text-start">{{ cdr.call_duration }}</td>
                        <td class="px-2 py-1 text-start">{{ cdr.MSISDN }}</td>
                        <td class="px-2 py-1 text-start">{{ cdr.call_date }}</td>
                        <td class="px-2 py-1 text-start">{{ cdr.status }}</td>
                        
                        <td class="px-2 py-1 text-center">
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded edit-data" type="button" data-id="{{ cdr.pk }}" title="Edit">
                                <i class="material-icons mdc-button__icon">edit</i>
                            </button>
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ cdr.pk }}" title="Delete">
                                <i class="material-icons mdc-button__icon">deleteoutline</i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %}
{% block ScriptBlock %}
<script>
    $(function() {
        $('#create_new').click(function() {
            uni_modal("Add New CDR", "{% url 'manage_cdrlog-page' %}")
        })
        $('.edit-data').click(function() {
            uni_modal("Edit CDR", "{% url 'manage_cdrlog-page' %}?id=" + $(this).attr('data-id'))
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete this CDR Logs ?", "delete_CDR", [$(this).attr('data-id')])
        })
    })

    function delete_customer($id) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-cdrlog' %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert_toast("An error occurred.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                    alert_toast("An error occurred.", 'error');
                    end_loader();
                }
            }
        })
    }
</script>
{% endblock ScriptBlock %}
