{% extends "employee_information/base.html" %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Location List</h4>
            <!--<div class="text-start">
                <button class="mdc-button mdc-button--raised mdc-ripple-upgraded btn-sm" id="create_new"><i class="material-icons mdc-button__icon">add</i> <span> Add New</span></button>
            </div>-->
            <div class="text-start">
                <button class="mdc-button mdc-button--raised mdc-ripple-upgraded btn-sm" id="create_new" style="background-color: red; color: white;">
                    <i class="material-icons mdc-button__icon">add</i><span> Add New</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="5%">
                    <col width="30%">
                    <col width="30%">
                    <col width="15%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">#</th>
                        <th class="text-center py-1">region</th>
                        <th class="text-center py-1">zone</th>
                        <th class="text-center py-1">district</th>
                        <th class="text-center py-1">sector</th>
                        <th class="text-center py-1">cells</th>
                        <th class="text-center py-1">village</th>
                        <th class="text-center py-1">sitename</th>
                        <th class="text-center py-1">sitetechnology</th>
                        <th class="text-center py-1">cellid</th>
                        <th class="text-center py-1">Action</th>
                    </tr>
                  
                </thead>
                <tbody>
                    {% for location in locations %}
                    <tr>
                     
                        <td class="px-2 py-1 text-center">{{ location.locationid }}</td>
                        <td class="px-2 py-1 text-start">{{ location.region }}</td>
                        <td class="px-2 py-1 text-start">{{ location.zone }}</td>
                        <td class="px-2 py-1 text-start">{{ location.district }}</td>
                        <td class="px-2 py-1 text-start">{{ location.sector }}</td>
                        <td class="px-2 py-1 text-start">{{ location.cells }}</td>
                        <td class="px-2 py-1 text-start">{{ location.village }}</td>
                        <td class="px-2 py-1 text-start">{{ location.sitename }}</td>
                        <td class="px-2 py-1 text-start">{{ location.sitetechnology }}</td>
                        <td class="px-2 py-1 text-start">{{ location.cellid }}</td>
                        
                        <td class="px-2 py-1 text-center">
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded edit-data" type="button" data-id="{{ location.pk }}" title="Edit">
                                <i class="material-icons mdc-button__icon">edit</i>
                            </button>
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ location.pk }}" title="Delete">
                                <i class="material-icons mdc-button__icon">deleteoutline</i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('#create_new').click(function() {
            uni_modal("Add New new Location", "{% url 'manage_locations-page' %}")
        })
        $('.edit-data').click(function() {
            uni_modal("Edit Location", "{% url 'manage_locations-page' %}?locationid=" + $(this).attr('data-id'))
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete this Location?", "delete_location", [$(this).attr('data-id')])
        })
    })

    function delete_location($locationid) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-location' %}",
            method: "POST",
            data: {
                locationid: $locationid
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert_toast("An error occured.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                    alert_toast("An error occured.", 'error');
                    end_loader();
                }
            }
        })
    }
</script>
{% endblock ScriptBlock %}